
.cart-page{
    padding: 40px;
    text-align: center;
 
    height: auto;
}

.cart-data{
    text-align: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
   
}
.cart-data>div{
   
    align-items: center;
    display: block;

}

.cart-data>div>img{
    width: 80%;
}
a.product{
    font-size: 30px;
}


.cart-product{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 10px;
    padding: 10px;
}


.linkStyle>button{
   
   font-size: 23px;
   margin-bottom: 20px;
}

